@import '~antd/dist/antd.css';

.App {
  background-color: #282c34;
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  margin: auto;
}

.App-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2em;
  color: snow;
  margin: auto;
}

.App-buttons {
  display: flex;
  flex-direction: row;
  color: snow;
  margin: auto;
}

.App-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: snow;
  margin-right: 2vw;
  margin-left: 2vw;
}

.App-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: snow;
  margin: auto;
}

.A {
  background-color: red;
  border-color: red;
}

.A:hover {
  background-color: orangered;
  border-color: orangered;
}

.A:focus {
  background-color: orangered;
  border-color: orangered;
}

.B {
  background-color: green;
  border-color: green;
}

.B:hover {
  background-color: limegreen;
  border-color: limegreen;
}

.B:focus {
  background-color: limegreen;
  border-color: limegreen;
}

.None {
  background-color: grey;
  border-color: grey;
}

.None:hover {
  background-color: silver;
  border-color: silver;
}

.None:focus {
  background-color: silver;
  border-color: silver;
}

.Finish {
  background-color: #282c34;
  border-color: #282c34;
}

.Finish:hover {
  color: #282c34;
  background-color: snow;
  border-color: snow;
}

.Finish:focus {
  color: #282c34;
  background-color: snow;
  border-color: snow;
}